<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="resizer" type="ImageResizer.ResizerSection,ImageResizer" requirePermission="false" />
	</configSections>
	<resizer>
		<pipeline fakeExtensions=".imgs" />
	</resizer>
	<appSettings>
		<add key="FCKeditor:BasePath" value="/Saat0604/fckeditor/" />
		<add key="FCKeditor:UserFilesPath" value="/Upload/" />
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>
	<connectionStrings>
		<add name="baglanti"
			 connectionString="Server=YOUR_SERVER;Database=YOUR_DATABASE;User Id=YOUR_USER;Password=YOUR_PASSWORD;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="tr-TR" uiCulture="tr-TR" />
		<compilation targetFramework="4.8" debug="true">
			<assemblies>
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
		</compilation>
		<customErrors mode="Off" redirectMode="ResponseRewrite">
			<error statusCode="400" redirect="~/404.aspx" />
			<error statusCode="401" redirect="~/404.aspx" />
			<error statusCode="403" redirect="~/404.aspx" />
			<error statusCode="404" redirect="~/404.aspx" />
			<error statusCode="500" redirect="~/404.aspx" />
			<error statusCode="503" redirect="~/404.aspx" />
		</customErrors>
		<machineKey
			validationKey="..."
			decryptionKey="..."
			validation="SHA1"
			decryption="AES" />
		<httpHandlers>
			<add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.captchaImageHandler, MSCaptcha" />
		</httpHandlers>
		<httpModules>
			<add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
		</httpModules>
		<httpCookies httpOnlyCookies="true" requireSSL="false" />
		<httpRuntime executionTimeout="1200" maxRequestLength="102400" />
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<httpErrors errorMode="Custom">
			<remove statusCode="400" subStatusCode="-1" />
			<remove statusCode="401" subStatusCode="-1" />
			<remove statusCode="403" subStatusCode="-1" />
			<remove statusCode="404" subStatusCode="-1" />
			<remove statusCode="500" subStatusCode="100" />
			<remove statusCode="500" subStatusCode="-1" />
			<remove statusCode="503" subStatusCode="-1" />
			<error statusCode="404" path="/404.aspx" responseMode="ExecuteURL" />
			<error statusCode="403" path="/404.aspx" responseMode="ExecuteURL" />
			<error statusCode="400" path="/404.aspx" responseMode="ExecuteURL" />
			<error statusCode="401" path="/404.aspx" responseMode="ExecuteURL" />
			<error statusCode="500" path="/404.aspx" responseMode="ExecuteURL" />
			<error statusCode="503" path="/404.aspx" responseMode="ExecuteURL" />
		</httpErrors>
		<handlers>
			<add name="MSCaptcha.captchaImageHandler" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.captchaImageHandler, MSCaptcha" resourceType="Unspecified" />
		</handlers>
<modules runAllManagedModulesForAllRequests="true">
    <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
</modules>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="104857600" />
				<denyUrlSequences>
					<add sequence=".." />
					<add sequence=":" />
					<add sequence="\" />
					<add sequence="'" />
					<add sequence="`" />
					<add sequence="!" />
					<add sequence="^" />
					<add sequence="+" />
					<add sequence="#" />
					<add sequence="$" />
					<add sequence="%" />
					<add sequence="(" />
					<add sequence=")" />
					<add sequence="[" />
					<add sequence="]" />
					<add sequence="{" />
					<add sequence="}" />
					<add sequence="*" />
				</denyUrlSequences>
			</requestFiltering>
		</security>
		<staticContent>
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff2" mimeType="font/x-woff" />
		</staticContent>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4"
					  compilerOptions="/langversion:6 /nowarn:1659;1699;1701;612;618"
					  type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4"
					  compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=&quot;Web&quot; /optionInfer+"
					  type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</compilers>
		
	</system.codedom>
	
</configuration>
